<div class="row" style="margin-top:20px">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NOUVEAUTE</h5>
        <p class="card-text">Decouvrer les nouveaux produits tech de la semaine...</p>
        <a href="#" class="btn btn-primary" id="Decouver">Decouver</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">AVIS TRUSTPILOT</h5>
        <p class="card-text">Vous avez un avis sur un produit partagez le!!!.</p>
        <a href={{path('app_pov')}} class="btn btn-primary">Avis Trust..</a>
      </div>
    </div>
  </div>
</div>