<div class="video-container">
    <video   autoplay loop muted>
        <source src="IMG/tech.mp4" typ="video/mp4">
    </video>
    <div class="LOGO-overlay">
        <a href={{path('app_h')}} id="logo">B-GESTECK</a>
    </div>
    <div class="nav-overlay">
            
            <div class="btn-group ml-auto" role="group" aria-label="Button group with nested dropdown" style="">
           

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:rgb(36,70,236); border:1px solid rgb(36,70,236); border-radius:10px; ">
                    Categorie
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="teck">TECHNOLOGIE</a></li>
                    <li><a class="dropdown-item" href="meuble">MEUBLE</a></li>
                    <li><a class="dropdown-item" href="alimentation">ALIMENTATION</a></li>
                    </ul>
                </div>
            </div>

    </div>
    
</div>