{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
        
               <p id="middleText">
                    RAPIDITE & QUALITE NOTRE PREOCCUPATION
               </p>
        
{% endblock %}
