{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}
{% block body %}
   <a href = {{path('app_checkoutS')}}> <button id="checkout">{{id}}</button> </a>
{% endblock %}

 